body{
    background-color: #E5E5E5;
}
.login-form{
    margin-top: 10%;
    
}
.card-body{
    margin-top: -40px;
    width: 85%;
}
.forgot-password{
    color: #0069D9;
}
.loading{
    height: 100px;
    width: 100px;
}