.clientDetails body{
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.clientDetails .main-body {
    padding: 15px;
}
.clientDetails .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.clientDetails .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.clientDetails .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
.clientDetails .informations{
    margin-top: -49.2%;
    margin-left: 19.4%;
}