.sidebare-page body{
    background-color: #E5E5E5;
}
.sidebare-page .side-bar{
    width: 280px;
    height: 100vh;
}
.sidebare-page .activechoice{
    background-color: #00416F;
}

.sidebare-page li:hover{
    border-radius: 5px;
}
.sidebare-page .choice:hover{
    margin-left: 5px;
}
.sidebare-page .panel-logo{
    height: 60px;
    width: 60px;
}
.sidebare-page .sidebar-agent-icon{
    height: 13.5px;
    width: 13.5px;
    margin-bottom: 5.5px;
}
.sidebare-page .hello-text{
    padding-top: 15px;
}
.sidebare-page .username-text{
    color: #1B3F7D;
}




.sidebare-page .btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.sidebare-page .btn-toggle:hover,
.sidebare-page .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.sidebare-page .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.sidebare-page .btn-toggle-nav a:hover,
.sidebare-page .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}