.login-page body{
    background-color: #E5E5E5;
}
.login-page .login-form{
    margin-top: 9.5%;
}
.login-page .card-body{
    width: 85%;
}
.login-page .forgot-password{
    color: #009FBF;
}
.login-page .card{
    background-color: #F7F7F7
}
.login-page .login-btn{
    background-color: #1B3F7D;
    color: white;
}
.login-page .login-btn:hover{
    background-color: #00527D;
    color: white;
}